body {
  background-color: gray;
}

#display {
  background-color: red;
  margin: auto;


}


.allButtons{
  float: left;
  text-align:center;
  font-size: 30px;
  width: auto;
  padding: 5px;


}

.buttons{
   background-color: yellow

}